extends layout
block content
    //公司简介
    section.aboutus-introduce.scrollHeight
        .text-center
           img(src="/images/aboutus/text.png" width='668' alt='关于我们')

    section.aboutus-team
        .content.clearfix
            h4.product-title
                img(src="/images/aboutus/title02.png"  alt='团队实力')
            p.font16 现有汽车金融专业团队拥有多年行业从业及产品具体实施、放款经验，客户对产品接受度及满意度较高，产品推广及使用范围覆盖北京、天津、内蒙古、黑龙江、辽宁、吉林、山东、广东、广西、贵州、云南、四川、重庆、湖南、江西、山西、宁夏等直辖市及省份，已有超过50多个城市有客户、人才及业务体量储备。

            div.text-center.pic
                img(src="/images/aboutus/chenzhi_03.png" alt="陈志")
            dl.aboutus-avatar
                dt.product-title 陈志
                    i Chen&nbsp;Zhi
                dd
                    i 股干力量
                    p 十余年汽车销售行业高层管理经验，近五年汽车金融行业高层管理经验；曾任国内大型汽车销售集团高管，国内大型金融集团汽车金融运营总监、CEO；具有丰富的汽车产业链管理和资源整合经验。在市场营销、公司运营、风险控制等方面有丰富的实战经验及丰硕成果。
    //招骋
    section.accordion
        .wrap-content
            div.title
                a(href="mailto:zhaopin@glorystone.net") zhaopin@glorystone.net
            dl
                dt
                    a(href="javascript:;").active 资金专员
                    a(href="javascript:;") 资金专员
                    a(href="javascript:;") 资金专员
                    a(href="javascript:;") 资金专员
                dd
                    i.angle.angle-top &nbsp;
                    i.angle.angle-bottom &nbsp;
                    .content.active
                       |345678
                    .content
                        ul
                            li 1.负责与各金融机构、银行、政府及相关机构联络、接洽。
                            li 2.负责与各金融机构、银各金各金行、政府及。
                            li 3.负责与各金融机构、银行、政府及。
                            li 4.负责与各金、融机构、银行、政府及。
                            li 5.负责与各金融机构、银行、政府及。
                    .content
                        ul
                            li 1.负责与各金融机构、银行、政府及相关机构联络、接洽。
                            li 2.负责与各金融机构、银各金各金行、政府及。
                            li 3.负责与各金融机构、银行、政府及。
                            li 4.负责与各金、融机构、银行、政府及。
                            li 5.负责与各金融机构、银行、政府及。
                            li 6.负责与各金各金各金融机构、银行、政府及。
                            li 7.负责与各金融机构、银行、政府及。
                            li 8.负责与各金融各金各金机构、银行、政府及。
                            li 9.负责与各金融机构、银行、政府及。li 2.负责与各金融机构、银行、政府及。
                        h5 任职要求：
                        ul
                            li 1.负责与各金融机构、银行、政府及相关机构联络、接洽。
                            li 2.负责与各金融机构、银行、政府及。
                            li 3.负责与各金融机与各金融机构、银行、政府及。
                            li 4.负责与各金融机构、银、、行、政府及。
                            li 5.负责与各金融机构、银行、政府及。
                            li 6.负责与各金融与各金融机构、银行、政府及。
                            li 7.负责与各金融机构、银行、政府及。
                            li 8.负责与各金融机构、银与各金融机与各金融机行、政府及。
                            li 9.负责与各金融机构、银行、政府及。
                    .content
                        ul
                            li 1.负责与各金融机构、银行、政府及相关机构联络、接洽。
                            li 2.负责与各金融机构、银各金各金行、政府及。
                            li 3.负责与各金融机构、银行、政府及。
                            li 4.负责与各金、融机构、银行、政府及。
                            li 5.负责与各金融机构、银行、政府及。
                            li 6.负责与各金各金各金融机构、银行、政府及。
                            li 7.负责与各金融机构、银行、政府及。
                            li 8.负责与各金融各金各金机构、银行、政府及。
                            li 9.负责与各金融机构、银行、政府及。li 2.负责与各金融机构、银行、政府及。
                        h5 任职要求：
                        ul
                            li 1.负责与各金融机构、银行、政府及相关机构联络、接洽。
                            li 2.负责与各金融机构、银行、政府及。
                            li 3.负责与各金融机与各金融机构、银行、政府及。
                            li 4.负责与各金融机构、银、、行、政府及。
                            li 5.负责与各金融机构、银行、政府及。
                            li 6.负责与各金融与各金融机构、银行、政府及。
                            li 7.负责与各金融机构、银行、政府及。
                            li 8.负责与各金融机构、银与各金融机与各金融机行、政府及。
                            li 9.负责与各金融机构、银行、政府及。

