extends layout
block content
    section.container
        dl.dl-product.clearfix
            dt
                h4 消费金融
                p Independent  and  Innovative  Fintech Expert
            dd.pad-bottom-40
                .content
                    p 常信科技消费金融系统是一款集电商金融系统、渠道管理系统、智能信贷系统、规则 引擎风控系统 、资金结算系统、智能催收系统为一体的综合业务系统。
                    P 系统整合了电商、金融资产端、渠道合作(实体店、社区、渠道接入)支撑线上+线下 相结合的 O2O 模式、电商模式、实体门店、社区商圈等多种消费金融应用场景，推出 应用场景化产品购物分期、消费信贷、现金分期、随借随还、现金贷、循环贷等多种 金融产品 ，其中消费信贷类产品有租房、汽车、教育 、装修、旅游等多种服务、商品 消费场景。
                    P 系统解决了传统信贷的放贷慢、风险高等问题，结合互联网大数据征信对接多维度数 据源、个人信用认证、量化评分等做到快速自动化审批与人工审批完美结合，灵活配 置风控模型，降低风控成本，提升审批效率，减少坏账发生率。有效帮助传统类金融 机构、产业链企业、电商平台在提供金融服务过程中提升风险管控能力、提高审贷效 率 ，使企业在增加金融服务能力的同时降低运营成本，提升企业的综合竞争力。
                    div.pad-top-20.pad-bottom-10
                        strong 产品体系
                    img(src='/images/finance/pic13.png' height='490')
                    div.pad-top-10
                        div
                            strong 系统支持
                        p 1、商品分期:类似京东白条的对接商城的实体商品店，适用场景:汽车分期、手机电脑等 3C 数码产品;家电分期;对接服务运营商的定制产品服务商等等。
                        p 2、消费分期:非实物类消费类型产品，如教育分期、医美分期、租房分期、宴会分期、婚庆分期、装修分期等等。
                        p 3、现金分期:现金类产品的分期，如虚拟信用卡。
                    div.row.pad-top-10
                        .col-50
                            div.pad-top-20.pad-bottom-10
                                strong 产品可支撑业务形态
                            img(src='/images/finance/pic05.jpg' width='417')
                            div.pad-top-20.pad-bottom-10
                                strong 产品可支撑业务形态
                            img(src='/images/finance/pic06.png' width='414')
                            div.pad-top-20.pad-bottom-10
                                strong 审批系统总体框架
                            img(src='/images/finance/pic12.jpg' width='410')
                            div.pad-top-20.pad-bottom-10
                                strong 审批系统支持工作流
                            img(src='/images/finance/pic04.png' width='514')

                        .col-50(style="position:relative;left:48px;")
                            div.pad-top-20.pad-bottom-10
                                strong 产品核心系统功能
                            img(src='/images/finance/pic11.png' width='445')
                            img(src='/images/finance/pic10.jpg' width='445')
                            div.pad-top-20.pad-bottom-10
                                strong 审批系统总体框架
                            img(src='/images/finance/pic09.png' width='364')
                            div.pad-top-20.pad-bottom-10
                                strong 审批系统支持规则决策应用
                            img(src='/images/finance/pic08.png' width='415')
                            div.pad-top-20.pad-bottom-10
                                strong 配套接口
                            img(src='/images/finance/pic07.png' width='415')
                    div(style='margin-left:-16px;')
                        div.text-indent.pad-top-20.pad-bottom-10
                            strong 系统支持的数据源
                        img(src='/images/finance/pic03.png' width='1009')
                    div.row.pad-top-10
                        .col-50
                            div.pad-bottom-15
                                strong 催收系统特点
                            img(src='/images/finance/pic01.png' width='415')
                        .col-50
                            div.pad-bottom-15
                                strong 催收系统特点
                            img(src='/images/finance/pic02.png' width='393')


