extends layout
block css
    style.
        .banner {
           background:#313131 url("/images/index/banner.png") center no-repeat;
            height:660px;
        }
        #header{background: rgba(0,0,0,.5); position: fixed;width: 100%;top:0;
            z-index:7;}
block content
    div.banner banner图
    section.container
        //核心产品
        dl.dl-product.clearfix
            dt
                h4 核心产品
                p Independent  and  Innovative  Fintech Expert
            dd
                ul.list-product
                    - for(i=0;i<9;i++)
                        li.item-product
                            dl
                                dt
                                    img(src='../images/index/itemPic0'+(i+1)+'.png' width='360')
                                    label 消费金融
                                dd
                                    h5 消费金融
                                    p 随着现代信息科技的迅速发展，加之互联网企业不断向金融领域渗透，并将发源于互联网行业的IT技术和理念向金融行业转移，伴随着云计算、区块链、搜索引擎、移动支付等在金融行业的应用
                                dd.mask
                                    .content
                                        header
                                            span 1
                                            p 购车贷款系统
                                        section 随着现代信息科技的迅速发展，加之互联网企业不断向金融领域渗透，并将发源于互联网行业的IT技术和理念向金融行业转移，伴随着云计算、区块链
                                        a(href='').btn-detail 查看详情

        //轮播图
        div#wrapper
            div#slider-wrap
                ul#slider
                    li(data-color="#1abc9c")
                        div
                            h3 Slide #1
                            span Sub-title #1
                    li(data-color="#3498db")
                        div
                            h3 Slide #2
                            span Sub-title #2
                    li(data-color="#9b59b6")
                        div
                            h3 Slide #3
                            span Sub-title #3
                    li(data-color="#34495e")
                        div
                            h3 Slide #4
                            span Sub-title #4
                    li(data-color="#e74c3c")
                        div
                            h3 Slide #5
                            span Sub-title #5
                //controls
                div.btns#next &nbsp;
                div.btns#previous &nbsp;
                //pagination-wrap
                div#pagination-wrap
                    ul
          dl.dl-product.clearfix
              dd
                  ul.list-product
                      - for(i=0;i<3;i++)
                          li.item-product
                            a(href='#')
                                  dl
                                      dt
                                          img(src='../images/index/itemPic0'+(i+1)+'.png' width='360')
                                          label 消费金融
                                      dd
                                          h5 消费金融
                                          p 随着现代信息科技的迅速发展，加之互联网企业不断向金融领域渗透，并将发源于互联网行业的IT技术和理念向金融行业转移，伴随着云计算、区块链、搜索引擎、移动支付等在金融行业的应用

        //合作伙伴
        dl.dl-partner
            dt 合作伙伴
            dd
                - for(var i=0;i<8;i++)
                    a(href="#")
                        img(src="../images/partners/partner01.png" width='75' alt='阿里云')
