doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="renderer" content="webkit")
    meta(name="viewport",content="width=device-width, initial-scale=0.3, maximum-scale=1, user-scalable=yes")
    //上述4个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
    title= '息引力科技'
    meta(name="keywords",content="#")
    meta(name="description",content="#")
    meta(name="author",content="#")
    //link(rel='shortcut icon',href='/favicon.ico')
    link(rel='stylesheet', href='/css/changXinKeJi-main.min.css')
    <!--[if lt IE 9]>
    <script src="/libs/html5shiv.min.js"></script>
    <![endif]-->
    block css
  body
      //头部
      header#header
        .container
            .col-20
                h1.hidden 息引力科技
                a(href="/").logo 息引力科技
            .col-80
                nav.text-right
                    -
                        var navBar=[
                            {'title':'首页','href':'/'},{'title':'产品中心','href':'#'},
                            {'title':'案例简介','href':'#'},{'title':'服务支持','href':'#'},
                            {'title':'关于我们','href':'#'},{'title':'免费试用 ','href':'#'}
                        ];
                    each item,i in navBar
                        a(href=item.href class=(curPage===item.title)?'active':'') #{item.title}
      //内容主体
      block content
      //底部
      footer#footer
        .container
            .row
               .col-25
                   a(href='/').footer-logo logo图片
               .col-60
                    nav
                        a(href='#') 售前流程
                        a(href='#') 售后流程
                        a(href='#') 公司简介
                        a(href='#') 公司大事记
                        a(href='#') 资质荣誉
                    p 热线电话  01057106392 &emsp;&emsp;&emsp;&emsp;周一至周日9:30—18:30

               .col-15
                   div.code &nbsp;

      script(src="/libs/jquery-1.9.1.min.js")
      script(src="/js/changXinKeJi-main.min.js")