extends layout
block content
    section.container
        dl.dl-product.clearfix
            dt
                h4 p2p
                p Independent  and  Innovative  Fintech Expert
            dd
                .content
                    div.row.pad-bottom-40
                        .col-50
                            img(src='/images/p2p/pic01.png' width='428')
                            img(src='/images/p2p/pic02.png' width='448')
                        .col-50.text-right
                            img(src='/images/p2p/pic03.png' width='620')
