extends layout
block content
    section.container
        dl.dl-product.clearfix
            dt
                h4 信贷系统
                p Independent  and  Innovative  Fintech Expert
            dd
                .content
                    div.row.pad-bottom-40
                        .col-50
                            div(style='width:417px')
                                p.text-indent 常信科技综合信贷系统是一款集电商金融系统、渠道管理系统、智能信贷系统、规则引擎风控系统、资金结算系统、智能催收系统为一体的综合业务系统。
                                p.text-indent 系统解决了传统信贷的放贷慢、风险高等问题，结合互联网大数据征信对接多维度数据源、个人信用认证、量化评分等做到快速自动化审批与人工审批完美结合，灵活配置风控模型，降低风控成本，提升审批效率，减少坏账发生率。有效帮助传统类金融机构、产业链企业、电商平台在提供金融服务过程中提升风险管控能力、提高审贷效率，使企业在增加金融服务能力的同时降低运营成本，提升企业的综合竞争力。
                                div.pad-top-20.pad-bottom-10
                                    strong 综合信贷产品可支撑业务形态。
                                img(src='/images/system/pic01.png' width='417')
                                div.pad-top-20.pad-bottom-10
                                    strong 常信科技综合信贷系统功能结构图
                                img(src='/images/system/pic02.png' width='416')
                                div.pad-top-20.pad-bottom-10
                                    strong 综合信贷系统架构
                                img(src='/images/system/pic03.jpg' width='411')
                        .col-50
                            img(src='/images/system/pic04.png' width='558')
                            h5.pad-top-20 现金贷流程
                            img(src='/images/system/pic06.jpg' width='412')
                            h5.pad-top-20 软件工程结构图
                            img(src='/images/system/pic07.jpg' width='616')

