@charset "utf-8";
@import "less/css3";
@import "less/bl";
@import "less/z";
//重置样式
.reset();
.themes();
//头部和底部
#header{
  background-color: #000;
  height:64px;
  padding-top:16px;
  .logo{
    @w:152px;
    @h:40px;
    width: @w;
    height:@h;
    display: inline-block;
    background: url("../images/logo.png") no-repeat left center;
    overflow: hidden;
    text-indent: -2000px;
  }
  nav{
    a{
      display: inline-block;
      color: #ffffff;
      margin-left:88px;
      padding:8px 6px;
      &:hover{
        border-bottom:2px solid #fff;
      }
      &.active{
        border-bottom:2px solid #fff;
      }

    }
  }
}
#footer{
  @h:138px;
  height:@h;
  font-size: 12px;
  color: #333333;
  .code{
    height:40px;
    margin-top:35px;
    background: url("../images/code.png") no-repeat right;
  }
  .footer-logo{
    @w:155px;
    @h:44px;
    width: @w;
    height:@h;
    display: inline-block;
    background: url("../images/logo-footer.png") no-repeat;
    overflow: hidden;
    text-indent: -2000px;
    margin-top:36px;
  }
  nav{
    padding:30px 0;
    padding-bottom:20px;
  }
  a{
    font-size: 12px;
    color: #333333;
    display: inline-block;
    margin-right:84px;
    text-decoration: underline;
    &:hover{
      font-size: 12px;
      color: #005AEE;
    }
  }
}