@charset "utf-8";
@import "base";
//公共部分
.product-title{
  .font30;
  margin-top:50px;
  margin-bottom:10px;
  text-align: center;
  line-height:30px;
  span{
    font-size:14px;
    display:block;
    padding:15px 0;
  }
}
//轮播图
.carousel_wrapper {
  @pt:56px;
  @h:344px-@pt;
  height:@h;
  padding-top:@pt;
  text-align: center; }
//贷款步骤
.porduct-steps{
  padding-top:76px;
  dd{
    padding-top:35px;
  }
}
//申请贷款
.dl-form{
  padding-top:42px;
  margin-bottom:45px;
  width: 310px;
  float: right;
  dt{
    @h:56px;
    .txt-ver(@h);
    text-align:center;
    color: #fff;
    .font17;
    background:url("../images/index/title.png") no-repeat center;
    text-indent: -4000px;
  }
  .form-star{
    color: @color-red;
    padding-right:4px;
  }
  dd{
    background: @bg-gray;
    border: 1px solid @border-color;
    padding:24px 20px;
    padding-bottom:18px;
  }
  .btn{
    margin-top:8px;
  }
}
//我们的产品
.section_product{
  background:@bg-gray url("../images/index/product.jpg") no-repeat top ;
}
.dl-product{

  dd{
    @h:564px;
    height:553px;
    h5{
      @h:80px;
      .txt-ver(@h);
      font-size:36px;
      display: inline-block;
      border-bottom:3px solid #d0a972;
      margin-bottom:30px;
    }
    ul{
      padding-top:11px;
    }
    ul>li{
      @w:25%;
      @h:464px;
      width: @w;
      height:@h;
      color: #fff;
      float: left;
      overflow: hidden;
      &.last{
        margin-right:0;
      }
      .item-box{
        @h:100%;
        width: 100%;
        height:@h;
        margin-left:-100%;
        .transition(.4s);
        .background-rgba(0,0,183,.9);
        .content{
          padding:27px;
        }
      }
      &:hover .item-box,&.active .item-box{
        margin-left:0;
      }
    }

  }
}
//我们的优势
.dl-advantage{
  dd{
    padding-top:50px;
    padding-bottom:80px;
    li{
      &:hover{
        img{
          .rotateY(180deg);
        }
      }
    }
      img{
        .transition(.7s);
      }

    h5{
      padding-top:30px;
      padding-bottom:20px;
      .font24;
      line-height: 28px;
      font-weight:normal;
    }
    p{
      color: @color-gray;
      display: inline-block;
      border-top:2px solid #dcdcdc;
      width: 175px;
      padding-top:14px;
    }
  }
}
// 官方合作
.dl-partners{
  @h:502px;
  height:@h;
  background: url("../images/index/partner_bg.jpg") no-repeat right top;
  dd{
    padding-top:25px;
    a{
      @w:244px;
      @h:125px;
      .transition(.2s);
      display: inline-block;
      width: @w;
      height: @h;
      background:#ffffff;
      text-align: center;
      line-height: @h;
      margin-right:40px;
      margin-bottom:40px;
      .box-shadow(3px,3px,10px,#d3d3d3);
      &:hover{
       .translateY(-10px);
      }
    }
  }
}
//发送手机验证码
.input-group-addon#sendMsg{
  background: #5e7dbe;
  color: #fff;
  font-size:15px;
  border-color:#5e7dbe;
  &:hover{
    background: #668ad1;
    border-color: #668ad1;
  }
  &.active{
    background: #dcdcdc;
    border-color: #aaa;
    color: @color-gray;
    cursor: pointer;
  }
}