@charset "utf-8";
@import "base";
//公共部分
.aboutus-introduce,.aboutus-team{
  .content {
    width: 800px;
    margin: 0 auto;
  }
}

//关于我们
.aboutus-introduce {
  @h: 676px;
  height: @h;
  background: url("../images/aboutus/aboutus_bg.png") no-repeat center;
  .text-center {
    padding-top: 146px;
  }
}

.aboutus-team {
  background: url("../images/aboutus/team_bg.jpg") no-repeat bottom center;
  height: 820px;
  dt {
    i {
      color: #b49569;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      padding-left: 10px;
    }
  }
  .product-title {
    padding-top: 38px;
    margin-top: 0;
    margin-bottom: 20px;
    .font24;
    font-weight: bold;
  }
  dd {
    i {
      font-style: normal;
      display: block;
      text-align: center;
      font-size: 16px;
      padding-bottom: 15px;
    }
  }
  .font16 {
    line-height: 30px;
    text-align: center;
    padding-bottom: 25px;
  }
  .aboutus-avatar {
    @w: 320px;
    width: @w;
    margin: 0 auto;
  }
}

.accordion {
  @h:900px;
  height:@h;
  background:#fefeff url("../images/aboutus/bg_atend.png") no-repeat bottom center;
  .title{
    width: 306px;
    height:76px;
    background: url("../images/aboutus/title03.png") no-repeat left center;
    margin:0 auto;
    margin-bottom:90px;
    a{
      color: #038bff;
      float: right;
      padding-top:52px;
      font-size:15px;
    }
  }
  .wrap-content{
    @h:790px;
    height:@h;
    width: 636px;
    padding:0 105px;
    padding-top:60px;
    margin:0 auto;
    .rgba(255,255,255,.5);
  }
  .content{
    display: none;
    &.active{
      display: block;
    }
  }
  dt{
    width: 186px;
    padding-top:1px;
    float: left;
    a{
      display: block;
      height:42px;
      line-height:42px;
      text-align: center;
      font-size:15px;
      border: 1px solid #a9834a;
      border-right:none;
      .border-radius(5px);
      .border-right-radius(0);
      margin-top:-1px;
      &.active{
        background-color: #a9834a;
        color: #ffffff;
      }
    }
  }
  dd{
    height:544px;
    border: 1px solid #a9834a;
    border-right:none;
    position: relative;
    width: 449px;
    float: right;
  }
  .content{
    position: absolute;
    width: 418px;
    top: 12px;
    left:28px;
  }
  .angle{
    position: absolute;
    display: block;
    width: 6px;
    height:10px;
    background-color: #a9834a;
    right:-6px;
  }
  .angle-top{
    top:-5px;
  }
  .angle-bottom{
    bottom:-5px;
  }
}